{% extends "base.twig" %}

{% block content %}
<main id="main">
  <section class="section section-achievement">
    <div class="container">
      {{page.content}}
    </div>
  </section>
</main>

{% endblock %}