{% extends "base.twig" %}

{% block content %}

<main id="main">
  <section class="section section-graduate-school-info">
    <div class="container">
      <artticle class="graduate-school-info">
        {{page.content}}
      </artticle>
    </div>
  </section>
</main>

{% endblock %}